<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @season.number %>
</p>

<p>
  <strong>Begins at:</strong>
  <%= @season.begins_at %>
</p>

<p>
  <strong>Film:</strong>
  <%= @season.film_id %>
</p>

<%= link_to 'Edit', edit_season_path(@season) %> |
<%= link_to 'Back', seasons_path %>
